ion-content {
  --background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.titleScreen h1 {
  font-size: 3rem;
  margin: 0;
  word-spacing: 2rem; 
  
}

.selections {
  margin-top: 4rem; 
  display: flex;
  flex-direction: column;
  gap: 1rem; 
}